@model GesProduct.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suppression</h2>

<h3>Etes vous sûr de vouloir supprimer cette catégorie?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nomcat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nomcat)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-controller="Category" asp-action="Index" class="popup btn btn-primary" style="margin-bottom:20px; margin-top:20px; margin-left:10px;">Retour</a>
    </form>
</div>
